name: Run Selenium TestNG Tests

on:
  workflow_dispatch:   # Manually run
  schedule:
    - cron: "*/5 * * * *"   # Runs every 5 minutes (optional)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Maven
        uses: stCarolas/setup-maven@v4

      - name: Run TestNG Tests
        run: mvn test
